@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
	--spacing-safe-top: env(safe-area-inset-top);
	--spacing-safe-bottom: env(safe-area-inset-bottom);
	--spacing-safe-left: env(safe-area-inset-left);
	--spacing-safe-right: env(safe-area-inset-right);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);

	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);

	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);

	--color-border: var(--border);

	--color-accent: var(--accent);
	--color-muted: var(--muted);
	--color-grid: var(--grid-color);

	--color-destructive: var(--destructive);

	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

:root {
	--background: #f8fafc;
	--foreground: #0f172a;

	--primary: #1d4ed8;
	--primary-hover: #1e40af;
	--primary-foreground: #ffffff;

	--secondary: #e2e8f0;
	--secondary-foreground: #0f172a;

	--destructive: #dc2626;

	--border: #e2e8f0;
	--input: #cbd5e1;
	--ring: #3b82f6;

	--accent: #10b981;
	--muted: #64748b;
	--grid-color: #e2e8f0;
}

.dark {
	--background: #090d16;
	--foreground: #f8fafc;

	--primary: #2b70de;
	--primary-hover: #60a5fa;
	--primary-foreground: #ffffff;

	--secondary: #1e293b;
	--secondary-foreground: #f8fafc;

	--destructive: #f87171;

	--border: #1e293b;
	--input: #334155;
	--ring: #3b82f6;

	--accent: #34d399;
	--muted: #64748b;
	--grid-color: #161b26;
}

body {
	color: var(--foreground);

	font-family: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
	background-color: var(--background);

	background-image: radial-gradient(var(--grid-color) 1.5px, transparent 1.5px);
	background-size: 32px 32px;
	background-position: center;
}
